.form {
    padding: 3rem;
    max-width: 30%;
    margin: auto;
    border-radius: 10px;
    border: solid 7px var(--body-color);
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }
  
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: inherit;
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    border: #282828 3px solid; 
  }
  .tab-group li a:hover {
    background: var(--accent);
    color: #ffffff;
  }
  .tab-group .active a {
    background-color: inherit;
    border: var(--accent) 3px solid; 
    color: #ffffff;
  }
  
  
  
  label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 1.5rem;
  }
  label .req {
    margin: 2px;
    color: var(--accent);
  }
  
  label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }
  
  label.highlight {
    color: #ffffff;
  }
  
  form input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: var(--accent);
  }
  
  textarea {
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  
  .buttonForm {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 1rem 0;
    margin: 3rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: inherit;
    border: var(--accent) solid 3px;
    border-radius: 3px;
    color: #ffffff;
    transition: all 0.5s ease;

  }
  .buttonForm:hover, .buttonForm:focus {
    background: var(--accent);
    border: var(--accent) solid 3px;
    box-shadow: none;
  }
  
  .buttonForm-block {
    display: block;
    width: 100%;
  }
  
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  