
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1% 5%;
  filter: drop-shadow(var(--body-color) 3px 3px 3px);
  position: fixed; /* Change to "fixed" */
  top: 0;
  width: 100%;
  z-index: 100;
  height: 7rem;
  opacity: 0.99;
}

.logo {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  height: 7rem;
  width: 20rem;
  text-align: center;
  justify-content: center;
  align-items: center; /* Add this line */
  
}

.logo img {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  height: 7rem;
  width: 7rem;
}

.logo p {
  font-size: 3rem;
  text-align: center; /* Add this line */
}


.logo span {
  color: var(--accent);
}

.nav__links {
  list-style: none;
  cursor: pointer;
  
}

.nav__links li {
  display: inline-block;
  
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 0 20px;
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav__links li a:hover {
  color: var(--accent);
}

button {
  padding: 9px 25px;
  font-size: 1.4rem;
  background-color: inherit;
  color:var(--accent);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  color: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) 0 0 10px;
}