.sidenav {
    color: #ffffff;
    border-bottom-right-radius: 25px;
    top: 20rem;
    left: 15%;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    width: 250px;
}

.profile {
    margin-bottom: 20px;
    margin-top: 1rem;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px var(--white);
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    margin-left: 25%;
    width: 50%;
    border-radius: 20px;
    color: var(--accent);
}

.main_grade {
    margin-top: 7%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
    
}


.main_grade .card_grade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;
  height: auto;
  
    
    
}

.main_settings {
  margin-top: 10%;
  margin-left: 28.1%;
  font-size: 2rem;
  padding: 0 10px;
  width: 57%;
  
}

.main_settings h2 {
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.main_settings a {
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.main_settings .card_settings {
  background-color: inherit;
  border-radius: 5px;
  border: 5px solid var(--body-color);
  height: auto;
  margin-bottom: 20px;
  padding: 2rem;
  width: 90%;
  border-radius: 0.5rem;
}

.main_settings .card_settings .card-body table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 80%;
  border: none;
  color: var(--white);
}

.main_settings .card_settings .card-body ul {
  list-style: none;
  padding: 0;
  border: none;
}
.main_settings .card_settings .card-body li {
  margin: 10px 0;
  border: none;
}

.main_settings .card_settings .card-body td {
  margin: 10px 0;
  border: none;
}


.edit {
  position: absolute;
  color: var(--white);
  right: 14%;
}


#checklist {
  margin: 20px;
  text-align: left;
  font-size: 1.3rem;
}

#progress{
  display: flex;
  flex-direction: row;
}

#checklist {
    margin: 20px;
    text-align: left;
  }
  
  #progressPercentage {
    font-size: 0.4rem;
  }

.pensumList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    
  }

.beltCol{
  grid-column: 1;
}

.categoryAll{
  grid-column: 2;
}

.category1{
  grid-column: 1;

}

.category2{
  grid-column: 2;
}

.category3{
  grid-column: 3;

}



.progress {
  background: linear-gradient(to right, #ffffff, #ffffff,  #ffffff, #ffffff);
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 100%;
	width: 100%;
}

.progress-done {
	background: linear-gradient(to left, #f6d207, #bcb418);
	box-shadow: 0 3px 3px -5px #c5c508, 0 2px 5px #837d0a;
	border-radius: 20px;
	color: #313131;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
}

.knot {
  width: 5rem;
  height: 5rem;
  background: #313131;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid rgb(93, 93, 93) 4px;
}


.knot-center {
  width: 2rem;
  height: 2rem;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
  


  