@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
    .hero_area {
        height: auto;
    }

    .header_section .main_nav {
        flex: 1;
    }

    #navbarSupportedContent {
        margin-top: 15px;
    }

    .main_section {
        padding-top: 45px;
    }

    .pensum_section .pensum_container .box {
        padding: 30px 15px;
    }

    .pensum_section .pensum_container .box .img-box {
        width: 75px;
    }


    .pensum_section {
        transform: none;
        padding: 90px 0;
    }


}

@media (max-width: 767px) {
    .layout_padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .layout_padding-top {
        padding-top: 90px;
    }

    .layout_padding-bottom {
        padding-bottom: 90px;
    }

    .main_section .detail-box {
        padding-bottom: 45px;
    }

    .pensum_section .pensum_container {
        flex-direction: column;
    }

    .pensum_section .pensum_container .box {
        padding: 30px 15px;
    }

    .pensum_section .pensum_container .box:not(:nth-last-child(1)) {
        margin-bottom: 15px;
    }

}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }


  @media (min-width: 1000px) {
    img {
        width: 50%;
        height: auto;
    }

}