.main_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.main_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_section .detail-box {
  padding-bottom: 90px;
}

.main_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  color: #ffffff;
}

.main_section .detail-box p {
  color: #ffffff;
  font-size: 15px;
}

.main_section .detail-box img {
  color: #ffffff;
  font-size: 15px;
}

.main_section .detail-box a {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: transparent;
  border: 1px solid #ff8a1d;
  border-radius: 5px;
  color: #ff8a1d;
  margin-top: 15px;
}

.main_section .detail-box a:hover {
  background-color: transparent;
  color: #ffffff;
}

.main_section .img-box img {
  width: 100%;
}

.pensum_section {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pensum_section .pensum_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}

.pensum_section .pensum_container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-color: inherit;
  border: solid 5px var(--body-color);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pensum_section .pensum_container .box .img-box {
  width: 90px;
  height: 90px;
  background-color: inherit;
}

.pensum_section img {
  width: 100%;
}

.pensum_section .pensum_container .box .name {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 0;
  background-color: inherit;
}

img {
  background-color: inherit;
}

.pensum_section .pensum_container .box:hover,
.pensum_section .pensum_container .box.active {
  border: 5px solid #ff8a1d;
  background-color: inherit;
  color: #ffffff;
}

.pensum_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: top;
}

.pensum_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5rem;
}

.pensum_section .detail-box p {
  margin-top: 5rem;
}

.pensum_section .img-box img {
  width: 100%;
}

.pensumSelect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 3rem;
  margin-right: 2rem;
  margin-top: 5rem;
  opacity: 0.5;
}


.title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
}


.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}
.pensumContent {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
  width: 45rem;
  margin-top: 3rem;
  padding: 2rem;
  color: white;
  cursor: pointer;
}

.exerciseImg {
  justify-content: center;
  align-items: center;
  width: 20rem;
}
.exerciseContent {
  display: flex;
  flex-direction: row;
}


 #startside-banner {
  display: flex;
  overflow: hidden;
}

#startside-banner svg {
  min-width: 1920px;
  height: 800px;
  width: 100%;
  object-fit: cover;
  display: flex;
  border: none;
}




